# Customer Experience Scenario

This excercise will be split into two parts.
1. Data preparation using Python & SQL in a Jupyter Notebook https://www.anaconda.com/
2. Data Visualization using Tableau Public https://public.tableau.com/en-us/s/download

All the programs are free software tools and can be downloaded to your PC or Mac. To present your project you will be asked to share your screen during the interview. You will have 35 minutes to present your project, we are looking three parts of the presentation. The technical, presentation and data analysis skills.

Inside your project folder there are 3 csv files that contain all the tables needed to complete the project.

# Business scenario
Two years ago, Acme Healthcare invested in a new survey platform to improve member satisfaction. There are 6 metrics the company wants to focus on two metrics are the most critical to their plan; Overall Satisfaction (OSAT) and Net Promoter Score (NPS). They would like to get their companywide OSAT score to 85% and their NPS to 90. 

As the data analyst you have been asked to develop a dashboard to help show where their strengths and weaknesses may be in the customer experience process. Some visuals that have been requested include a view that allows users to see all the scores for each of the 6 questions and also a view that shows the correlation between all the responses to see which may drive OSAT scores.


## Calculations:

#### OSAT, Claims, Call Center, Access, Website
#### Positive Score % = (Positive / All Respondents)
These questions have a scale from 1-5. <br>
    • 4 and 5 are considered "Positive" <br> 
    • 3 is considered "Neutral" <br>
    • 1 and 2 are considered "Negative" <br>
Example: 68 positive / 147 respondents = 46%



#### NPS 
#### NPS = ( (Promoters - Detractors)/(All Respondents) ) * 100 
Net Promoter Score has a scale from 0-10. <br>
    • 9 and 10 = "Promoter" <br>
    • 7 and 8 = "Passive" <br>
    • 0 - 6 = "Detractor" <br>
Example: (98 promoters - 32 detractors)/147 respondents = 45 <br>
<br>
 To calculate NPS  you want to find all your "Promoters" then subtract the "Detractors" then divide it by the number of people who responded to that the question. Lastly multiple that number by 100 to get your NPS score. You ignore "Passive" responses. <br>

### Using pandas and pandasql complete the following data cleansing
We have listed all the necessary packages needed to complete this excercise efficiently but you can use any method or package you prefer. You can also perform any advanced analytics and data manipulation in this workbook. This is a chance to show off your skills. <br>

#### Project Requirements:
1. All 3 files must be brought together using SQL code. You can use pandasql package to write SQL code directly in this notebook without needing a sql server. <br><br>
2. You must use a single output created in this Python notebook to build your visualizations in Tableau. <br><br>
3. Add a column to the dataset called <b>"appt_source"</b> that has a value of either "callcenter_appt" or "web_appt". The logic should be based off whether the member contacted the callcenter or used the website last, there is a date for each.

In [97]:
#conda install pandasql
import pandasql.sqldf as pdsql
import pandas as pd
#SQL Helper function so you do not have to use locals and globals in code.
ps = lambda q: pdsql(q, globals())

### Bring in all the files needed for the project

In [98]:
#Bring in files
df2021 = pd.read_csv('C:/Users/rentzj/Downloads/Business Excercise/2021_cx_members.csv')
df2022 = pd.read_csv('C:/Users/rentzj/Downloads/Business Excercise/2022_cx_members.csv')
survey_responses = pd.read_csv('C:/Users/rentzj/Downloads/Business Excercise/survey_responses.csv')
df2021.head()

,id,first_name,last_name,email,icd10,plan_id,state,ssn,visit_date,callcenter_contact,web_app_start,survey_date,active
0,1.0,Flor,Rawood,frawood0@sphinn.com,NaN,1021.0,CA,428-69-7122,11/18/2021,10/11/2021,9/4/2021,12/11/2021,False
1,5.0,Carmelina,Ropp,cropp4@npr.org,H832X,1021.0,MD,416-37-0353,10/3/2021,7/6/2021,9/24/2021,10/20/2021,False
2,7.0,Kellsie,Pitkeathly,kpitkeathly6@oracle.com,NaN,1021.0,AZ,390-55-2795,11/4/2021,1/0/1900,8/10/2021,11/19/2021,False
3,8.0,Ingaborg,Joincey,ijoincey7@biglobe.ne.jp,S50869S,1021.0,HI,859-78-1377,8/14/2021,4/24/2021,6/1/2021,9/18/2021,False
4,14.0,Brandy,Hadigate,bhadigated@weather.com,H2712,1021.0,TX,388-19-8196,11/7/2021,10/5/2021,10/9/2021,11/12/2021,True

## Union the two datasets and add a column flag
1. Union the 2021 & 2022 data
2. Create a flag based on whether the member last contact was with the callcenter or website. It should be one column called "appt_source" and the values in the column should be flagged as "callcenter_appt" or "web_appt"

In [101]:
q1 = '''

WITH union_data AS (
    select *
    from df2021
    union
    select *
    from df2022
    limit 5)

,join_survey as (
    select u.*, s.*
    from survey_responses s
    join union_data u
        on s.id = u.id )

,flag_appt as (
    select * 
   ,case when callcenter_contact > web_app_start then 'callcenter_appt' else 'web_appt' end as [appt_source]
    from join_survey)

select * from flag_appt

'''
df = ps(q1)
df.head()

,id,first_name,last_name,email,icd10,plan_id,state,ssn,visit_date,callcenter_contact,...,survey_date,active,id:1,survey_q1_satclaims,survey_q2_satcallcenter,survey_q3_satwebsite,survey_q4_sataccess,survey_q5_osat,survey_q6_nps,appt_source
0,1.0,Flor,Rawood,frawood0@sphinn.com,None,1021.0,CA,428-69-7122,11/18/2021,10/11/2021,...,12/11/2021,0,1,2.0,4.0,3.0,4.0,5,6,web_appt
1,2.0,Carson,Magister,cmagister1@nature.com,S82843,1021.0,FL,617-79-7818,4/23/2022,3/28/2022,...,5/13/2022,0,2,4.0,3.0,2.0,1.0,3,7,web_appt
2,3.0,Eyde,Manicom,emanicom2@admin.ch,None,1021.0,NY,598-77-5655,7/9/2022,6/24/2022,...,8/5/2022,1,3,4.0,4.0,5.0,5.0,4,10,callcenter_appt
3,4.0,Henderson,Tichelaar,htichelaar3@flickr.com,None,1021.0,TX,229-51-1714,8/1/2022,7/19/2022,...,9/8/2022,0,4,1.0,2.0,4.0,3.0,3,10,callcenter_appt

### Export the dataframe as a single csv file and perform Data Analysis in Tableau

In [94]:
df.to_csv('test.csv')